{% load static %}
<link rel="stylesheet" href="{% static 'css/dota2minimapitems.css' %}">
<link rel="stylesheet" href="{% static 'css/dota2minimapheroes.css' %}">
<link rel="stylesheet" href="{% static 'css/build-form.css' %}">

<form method="POST" id="hero_form" autocomplete="off" data-prefix="{{ formset.prefix }}">
    {% csrf_token %}

    <p>{{ form.name.label }}: {{ form.name }}</p>
    <p>{{ form.hero.label }}: {{ form.hero }} <i class="d2mh visage" id="hero-img"></i></p>

    <div id="all-items">
        <p>Выбранные предметы:</p>
        <div id="selected-items" class="connectedSortable">
        </div>
        <div id="items" class="connectedSortable">
            {% for item in items %}<i class="d2mi {{ item.slug }}" data-name="{{ item.name }}" data-item="{{ item.pk }}" data-desc=""></i>{% endfor %}
        </div>
    </div>

    {{ formset.management_form }}
    <script>alert('aa' + '{{formset.initial.id}}')</script>
    {% for f in formset %}<div class="forminfo" data-item="{{ f.item.value }}" data-desc="{{ f.description.value }}" data-pk="{{ f.id.value }}" data-build="{{ f.build.value }}"></div>{% endfor %}

    <br><br>
    {% if form.name.value %}
    <p>{{ form.delete.label }}: {{ form.delete }}</p>
    {% endif %}
    <input type="submit">
</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.6/Sortable.min.js"></script>
<script src="{% static 'js/build_form/build_form_handler.js' %}" defer></script>
<script src="{% static 'js/build_form/change_hero_image.js' %}" defer></script>