.d2mi {
	background-image: url('../images/minimap/minimap_item_sheet.png');
	background-repeat: no-repeat;
	display: inline-block;
	width: 40px;
	height: 30px;
}

.d2mi.abyssal-blade {
	background-position: 0px 0px;
}

.d2mi.aeon-disk {
	background-position: -40px 0px;
}

.d2mi.aether-lens {
	background-position: -80px 0px;
}

.d2mi.aghanims-blessing {
	background-position: -120px 0px;
}

.d2mi.aghanims-scepter {
	background-position: -160px 0px;
}

.d2mi.aghanims-shard {
	background-position: -200px 0px;
}

.d2mi.arcane-blink {
	background-position: -240px 0px;
}

.d2mi.arcane-boots {
	background-position: -280px 0px;
}

.d2mi.armlet-of-mordiggian {
	background-position: -320px 0px;
}

.d2mi.assault-cuirass {
	background-position: -360px 0px;
}

.d2mi.band-of-elvenskin {
	background-position: -400px 0px;
}

.d2mi.battle-fury {
	background-position: -440px 0px;
}

.d2mi.belt-of-strength {
	background-position: -480px 0px;
}

.d2mi.black-king-bar {
	background-position: -520px 0px;
}

.d2mi.blade-of-alacrity {
	background-position: -560px 0px;
}

.d2mi.blades-of-attack {
	background-position: -600px 0px;
}

.d2mi.blink-dagger {
	background-position: -640px 0px;
}

.d2mi.blitz-knuckles {
	background-position: -680px 0px;
}

.d2mi.block-of-cheese {
	background-position: -720px 0px;
}

.d2mi.blood-grenade {
	background-position: -760px 0px;
}

.d2mi.bloodstone {
	background-position: -800px 0px;
}

.d2mi.bloodthorn {
	background-position: -840px 0px;
}

.d2mi.boots-of-bearing {
	background-position: -880px 0px;
}

.d2mi.boots-of-speed {
	background-position: -920px 0px;
}

.d2mi.boots-of-travel-2 {
	background-position: -960px 0px;
}

.d2mi.boots-of-travel {
	background-position: -1000px 0px;
}

.d2mi.bottle {
	background-position: -1040px 0px;
}

.d2mi.bracer {
	background-position: -1080px 0px;
}

.d2mi.broadsword {
	background-position: -1120px 0px;
}

.d2mi.buckler {
	background-position: -1160px 0px;
}

.d2mi.butterfly {
	background-position: -1200px 0px;
}

.d2mi.chainmail {
	background-position: -1240px 0px;
}

.d2mi.cheese {
	background-position: -1280px 0px;
}

.d2mi.circlet {
	background-position: -1320px 0px;
}

.d2mi.clarity {
	background-position: -1360px 0px;
}

.d2mi.claymore {
	background-position: -1400px 0px;
}

.d2mi.cloak {
	background-position: -1440px 0px;
}

.d2mi.cornucopia {
	background-position: -1480px 0px;
}

.d2mi.crimson-guard {
	background-position: -1520px 0px;
}

.d2mi.crown {
	background-position: -1560px 0px;
}

.d2mi.crystalys {
	background-position: -1600px 0px;
}

.d2mi.daedalus {
	background-position: -1640px 0px;
}

.d2mi.dagon-2 {
	background-position: -1680px 0px;
}

.d2mi.dagon-3 {
	background-position: -1720px 0px;
}

.d2mi.dagon-4 {
	background-position: -1760px 0px;
}

.d2mi.dagon-5 {
	background-position: -1800px 0px;
}

.d2mi.dagon {
	background-position: -1840px 0px;
}

.d2mi.demon-edge {
	background-position: -1880px 0px;
}

.d2mi.desolator {
	background-position: -1920px 0px;
}

.d2mi.diadem {
	background-position: -1960px 0px;
}

.d2mi.diffusal-blade {
	background-position: -2000px 0px;
}

.d2mi.disperser {
	background-position: -2040px 0px;
}

.d2mi.divine-rapier {
	background-position: -2080px 0px;
}

.d2mi.divine-rapier-magical {
	background-position: -2120px 0px;
}

.d2mi.dragon-lance {
	background-position: -2160px 0px;
}

.d2mi.drum-of-endurance {
	background-position: -2200px 0px;
}

.d2mi.dust-of-appearance {
	background-position: -2240px 0px;
}

.d2mi.eagle-horn {
	background-position: -2280px 0px;
}

.d2mi.echo-sabre {
	background-position: -2320px 0px;
}

.d2mi.enchanted-mango {
	background-position: -2360px 0px;
}

.d2mi.energy-booster {
	background-position: -2400px 0px;
}

.d2mi.eternal-shroud {
	background-position: -2440px 0px;
}

.d2mi.ethereal-blade {
	background-position: -2480px 0px;
}

.d2mi.euls-scepter-of-divinity {
	background-position: -2520px 0px;
}

.d2mi.eye-of-skadi {
	background-position: -2560px 0px;
}

.d2mi.faerie-fire {
	background-position: -2600px 0px;
}

.d2mi.falcon-blade {
	background-position: -2640px 0px;
}

.d2mi.fluffy-hat {
	background-position: -2680px 0px;
}

.d2mi.force-staff {
	background-position: -2720px 0px;
}

.d2mi.gauntlets-of-strength {
	background-position: -2760px 0px;
}

.d2mi.gem-of-true-sight {
	background-position: -2800px 0px;
}

.d2mi.ghost-scepter {
	background-position: -2840px 0px;
}

.d2mi.gleipnir {
	background-position: -2880px 0px;
}

.d2mi.glimmer-cape {
	background-position: -2920px 0px;
}

.d2mi.gloves-of-haste {
	background-position: -2960px 0px;
}

.d2mi.great-healing-lotus {
	background-position: -3000px 0px;
}

.d2mi.greater-faerie-fire {
	background-position: -3040px 0px;
}

.d2mi.greater-healing-lotus {
	background-position: -3080px 0px;
}

.d2mi.guardian-greaves {
	background-position: -3120px 0px;
}

.d2mi.hand-of-midas {
	background-position: -3160px 0px;
}

.d2mi.harpoon {
	background-position: -3200px 0px;
}

.d2mi.headdress {
	background-position: -3240px 0px;
}

.d2mi.healing-lotus {
	background-position: -3280px 0px;
}

.d2mi.healing-salve {
	background-position: -3320px 0px;
}

.d2mi.heart-of-tarrasque {
	background-position: -3360px 0px;
}

.d2mi.heavens-halberd {
	background-position: -3400px 0px;
}

.d2mi.helm-of-iron-will {
	background-position: -3440px 0px;
}

.d2mi.helm-of-the-dominator {
	background-position: -3480px 0px;
}

.d2mi.helm-of-the-overlord {
	background-position: -3520px 0px;
}

.d2mi.holy-locket {
	background-position: -3560px 0px;
}

.d2mi.hurricane-pike {
	background-position: -3600px 0px;
}

.d2mi.hyperstone {
	background-position: -3640px 0px;
}

.d2mi.infused-raindrops {
	background-position: -3680px 0px;
}

.d2mi.iron-branch {
	background-position: -3720px 0px;
}

.d2mi.iron-talon {
	background-position: -3760px 0px;
}

.d2mi.javelin {
	background-position: -3800px 0px;
}

.d2mi.kaya-and-sange {
	background-position: -3840px 0px;
}

.d2mi.kaya {
	background-position: -3880px 0px;
}

.d2mi.khanda {
	background-position: -3920px 0px;
}

.d2mi.linkens-sphere {
	background-position: -3960px 0px;
}

.d2mi.lotus-orb {
	background-position: -4000px 0px;
}

.d2mi.maelstrom {
	background-position: -4040px 0px;
}

.d2mi.mage-slayer {
	background-position: -4080px 0px;
}

.d2mi.magic-stick {
	background-position: -4120px 0px;
}

.d2mi.magic-wand {
	background-position: -4160px 0px;
}

.d2mi.manta-style {
	background-position: -4200px 0px;
}

.d2mi.mantle-of-intelligence {
	background-position: -4240px 0px;
}

.d2mi.mask-of-madness {
	background-position: -4280px 0px;
}

.d2mi.medallion-of-courage {
	background-position: -4320px 0px;
}

.d2mi.mekansm {
	background-position: -4360px 0px;
}

.d2mi.meteor-hammer {
	background-position: -4400px 0px;
}

.d2mi.mithril-hammer {
	background-position: -4440px 0px;
}

.d2mi.mjollnir {
	background-position: -4480px 0px;
}

.d2mi.monkey-king-bar {
	background-position: -4520px 0px;
}

.d2mi.moon-shard {
	background-position: -4560px 0px;
}

.d2mi.morbid-mask {
	background-position: -4600px 0px;
}

.d2mi.mystic-staff {
	background-position: -4640px 0px;
}

.d2mi.null-talisman {
	background-position: -4680px 0px;
}

.d2mi.nullifier {
	background-position: -4720px 0px;
}

.d2mi.oblivion-staff {
	background-position: -4760px 0px;
}

.d2mi.observer-and-sentry-wards-1 {
	background-position: -4800px 0px;
}

.d2mi.observer-and-sentry-wards-2 {
	background-position: -4840px 0px;
}

.d2mi.observer-ward {
	background-position: -4880px 0px;
}

.d2mi.octarine-core {
	background-position: -4920px 0px;
}

.d2mi.ogre-axe {
	background-position: -4960px 0px;
}

.d2mi.orb-of-blight {
	background-position: -5000px 0px;
}

.d2mi.orb-of-corrosion {
	background-position: -5040px 0px;
}

.d2mi.orb-of-frost {
	background-position: -5080px 0px;
}

.d2mi.orb-of-venom {
	background-position: -5120px 0px;
}

.d2mi.orchid-malevolence {
	background-position: -5160px 0px;
}

.d2mi.overwhelming-blink {
	background-position: -5200px 0px;
}

.d2mi.parasma {
	background-position: -5240px 0px;
}

.d2mi.pavise {
	background-position: -5280px 0px;
}

.d2mi.perseverance {
	background-position: -5320px 0px;
}

.d2mi.phase-boots {
	background-position: -5360px 0px;
}

.d2mi.phylactery {
	background-position: -5400px 0px;
}

.d2mi.pipe-of-insight {
	background-position: -5440px 0px;
}

.d2mi.platemail {
	background-position: -5480px 0px;
}

.d2mi.point-booster {
	background-position: -5520px 0px;
}

.d2mi.poor-mans-shield {
	background-position: -5560px 0px;
}

.d2mi.power-treads-agility {
	background-position: -5600px 0px;
}

.d2mi.power-treads-intelligence {
	background-position: -5640px 0px;
}

.d2mi.power-treads {
	background-position: -5680px 0px;
}

.d2mi.power-treads-strength {
	background-position: -5720px 0px;
}

.d2mi.quelling-blade {
	background-position: -5760px 0px;
}

.d2mi.radiance {
	background-position: -5800px 0px;
}

.d2mi.reaver {
	background-position: -5840px 0px;
}

.d2mi.refresher-orb {
	background-position: -5880px 0px;
}

.d2mi.refresher-shard {
	background-position: -5920px 0px;
}

.d2mi.revenants-brooch {
	background-position: -5960px 0px;
}

.d2mi.ring-of-basilius {
	background-position: -6000px 0px;
}

.d2mi.ring-of-health {
	background-position: -6040px 0px;
}

.d2mi.ring-of-protection {
	background-position: -6080px 0px;
}

.d2mi.ring-of-regen {
	background-position: -6120px 0px;
}

.d2mi.ring-of-tarrasque {
	background-position: -6160px 0px;
}

.d2mi.robe-of-the-magi {
	background-position: -6200px 0px;
}

.d2mi.rod-of-atos {
	background-position: -6240px 0px;
}

.d2mi.sacred-relic {
	background-position: -6280px 0px;
}

.d2mi.sages-mask {
	background-position: -6320px 0px;
}

.d2mi.sange-and-yasha {
	background-position: -6360px 0px;
}

.d2mi.sange {
	background-position: -6400px 0px;
}

.d2mi.satanic {
	background-position: -6440px 0px;
}

.d2mi.scythe-of-vyse {
	background-position: -6480px 0px;
}

.d2mi.sentry-ward {
	background-position: -6520px 0px;
}

.d2mi.shadow-amulet {
	background-position: -6560px 0px;
}

.d2mi.shadow-blade {
	background-position: -6600px 0px;
}

.d2mi.shivas-guard {
	background-position: -6640px 0px;
}

.d2mi.silver-edge {
	background-position: -6680px 0px;
}

.d2mi.skull-basher {
	background-position: -6720px 0px;
}

.d2mi.slippers {
	background-position: -6760px 0px;
}

.d2mi.smoke-of-deceit {
	background-position: -6800px 0px;
}

.d2mi.solar-crest {
	background-position: -6840px 0px;
}

.d2mi.soul-booster {
	background-position: -6880px 0px;
}

.d2mi.soul-ring {
	background-position: -6920px 0px;
}

.d2mi.spirit-vessel {
	background-position: -6960px 0px;
}

.d2mi.staff-of-wizardry {
	background-position: -7000px 0px;
}

.d2mi.stout-shield {
	background-position: -7040px 0px;
}

.d2mi.swift-blink {
	background-position: -7080px 0px;
}

.d2mi.talisman-of-evasion {
	background-position: -7120px 0px;
}

.d2mi.tango {
	background-position: -7160px 0px;
}

.d2mi.tango-shared {
	background-position: -7200px 0px;
}

.d2mi.tiara-of-selemene {
	background-position: -7240px 0px;
}

.d2mi.tome-of-knowledge {
	background-position: -7280px 0px;
}

.d2mi.town-portal-scroll {
	background-position: -7320px 0px;
}

.d2mi.tranquil-boots {
	background-position: -7360px 0px;
}

.d2mi.ultimate-orb {
	background-position: -7400px 0px;
}

.d2mi.urn-of-shadows {
	background-position: -7440px 0px;
}

.d2mi.vanguard {
	background-position: -7480px 0px;
}

.d2mi.veil-of-discord {
	background-position: -7520px 0px;
}

.d2mi.vitality-booster {
	background-position: -7560px 0px;
}

.d2mi.vladmirs-offering {
	background-position: -7600px 0px;
}

.d2mi.void-stone {
	background-position: -7640px 0px;
}

.d2mi.voodoo-mask {
	background-position: -7680px 0px;
}

.d2mi.wind-lace {
	background-position: -7720px 0px;
}

.d2mi.wind-waker {
	background-position: -7760px 0px;
}

.d2mi.witch-blade {
	background-position: -7800px 0px;
}

.d2mi.wraith-band {
	background-position: -7840px 0px;
}

.d2mi.wraith-pact {
	background-position: -7880px 0px;
}

.d2mi.yasha-and-kaya {
	background-position: -7920px 0px;
}

.d2mi.yasha {
	background-position: -7960px 0px;
}

