@font-face {
    font-family: 'Roboto';
    src: local('Abc'),
         url("/static/fonts/Roboto-Regular.ttf") format("truetype");
}

* {
    font-family: 'Roboto';
}

body {
    background: #272629;
}

#parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

#child {
    background: #1b1a1c;
    color: white;
    width:700px;
    padding:50px;
    box-shadow: 0px 0px 27px 10px rgba(34, 60, 80, 0.2);
}

.item {
    margin: 1px;
    display: inline;
}
.item-img {
    height: 45px;
}
.item-img:hover {
    box-shadow: 0px 0px 27px 10px rgba(34, 60, 80, 0.2);
}

.hero {

}

a {
    text-decoration: none;
    color: #a60045;
}

a:hover {
    text-decoration: underline;
}

#autocomplete-value {
	font-size: 12px;
}
