@font-face {
    font-family: 'Roboto';
    src: local('Abc'),
         url("../fonts/Roboto-Regular.ttf") format("truetype");
}

* {
    font-family: 'Roboto';
}

body {
    background: #272629;
}

a {
    text-decoration: none;
    color: #a60045;
}

a:hover {
    text-decoration: underline;
}

#parent {
    width: 700px;
    margin: 0 auto;
    box-shadow: 0px 0px 27px 10px rgba(34, 60, 80, 0.2);
    color: white;
}

#child {
    background: #1b1a1c;
    padding: 20px;
    padding-bottom: 40px;
}

#footer {
    background: #111112;
    color: #252326;
    padding: 20px;
    text-align: right;
}

#footer a {
    color: #660830;
}

#header {
    background-color: #091112;
    padding: 20px;
    padding-bottom: 40px;
}

#header > .left {
    float: left;
}

#header > .right {
    float: right;
    text-align: right;
}

#header a {
    margin: 10px;
}

.helptext {
    font-size: 12px;
}

.google-oauth > img {
    width: 24px;
}

.google-oauth > img:hover {
    filter: brightness(1.5);
}
