<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}
    <title>{% block head_title %}{% endblock head_title %}</title>
    {% endblock %}
</head>
<body>
{% autoescape on %}
<div id="parent">
    {% block parent-content %}
    <div id="header">
        {% block header %}
        <div class="right">
            {% if user.is_authenticated %}
            <a href="{% url 'user-profile' %}" title="Имя: {{user.username}}&#013;ID: {{user.pk}}">Профиль</a>
            {% else %}
            <a href="{% url 'account_signup' %}">Регистрация</a>
            <a href="{% url 'account_login' %}">Вход</a>
            {% endif %}
            <a href="{% url 'builds-list'%}">Сборки</a>
            <a href="{% url 'home' %}">Главная</a>
            {% endblock %}
        </div>
    </div>
    <div id="child">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer-content %}
        <span>by <a href="https://github.com/kozavka229">kozavka229</a></span>
        <br>
        <span>© бугага, 2025</span>
        {% endblock %}
    </div>
    {% endblock %}
</div>
</body>
{% endautoescape %}
</html>